.mixin.out

natives
minecraft/asm
minecraft/assetmover
minecraft/astralsorcery
minecraft/coremods
minecraft/crash-reports
minecraft/llibrary
minecraft/logs
minecraft/mods
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/structures
minecraft/texturepacks
minecraft/BotaniaVars.dat
minecraft/user*cache.json
minecraft/*.log

minecraft/resourcepacks/EclecticTrove*.zip
minecraft/resourcepacks/Modernity*.zip
minecraft/resourcepacks/Updated_Engineering*.zip
minecraft/resourcepacks/witchery*.jar
instance.cfg
